* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #001f25;
}

.loader {
  position: relative;
  width: 300px;
  height: 300px;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(36deg * var(--i)));
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 4px solid rgb(52, 245, 100);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(52, 245, 100), -30px -30px 0 rgb(52, 245, 100),
    -30px -30px 20px rgb(52, 245, 100), 30px -30px 0 rgb(52, 245, 100),
    30px -30px 20px rgb(52, 245, 100), -30px 30px 0 rgb(52, 245, 100),
    -30px 30px 20px rgb(52, 245, 100), 30px 30px 0 rgb(52, 245, 100),
    30px 30px 20px rgb(52, 245, 100);
  animation: animate 5s linear infinite;
  animation-delay: calc(-0.25s * var(--i));
  transform-origin: 20px;
  transition: 2s;
}

.loader:hover span::before {
  transform-origin: 250px;
  box-shadow: 0 0 20px rgb(52, 245, 100), -200px -200px 0 rgb(52, 245, 100),
    -200px -200px 20px rgb(52, 245, 100), 200px -200px 0 rgb(52, 245, 100),
    200px -200px 20px rgb(52, 245, 100), -200px 200px 0 rgb(52, 245, 100),
    -200px 200px 20px rgb(52, 245, 100), 200px 200px 0 rgb(52, 245, 100),
    200px 200px 20px rgb(52, 245, 100);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
